<!-- New contact form -->
<div>
    <h2 [ngStyle]="{ 'margin-left': '20%' }">Ingresar Presupuesto</h2>

    <form
      class="form-container"
      id="addContactForm"
      [ngStyle]="{ 'margin-left': '20%' }"
      (ngSubmit)="add_contact(); newContactForm.resetForm()"
      #newContactForm="ngForm"
    >
      <!-- presupuesto input -->
      <mat-form-field class="wide-input">
        <mat-label>Presupesto</mat-label>
        <input
          matInput
          ngModel
          #presupuesto="ngModel"
          name="presupuesto"
          id="presupuesto"
          placeholder="0"
          required
          type="number"
        />
        <mat-error *ngIf="!presupuesto.valid && presupuesto.touched">
          Presupuesto es requerido
        </mat-error>
      </mat-form-field>

      <!-- Submit button -->
      <button
        matInput
        mat-flat-button
        [disabled]="!newContactForm.form.valid"
        [ngStyle]="{
          'margin-top': '-18px',
          'margin-left': '10px',
          padding: '28px'
        }"
        color="accent"
        type="submit"
      >
        Add
      </button>
    </form>
  </div>
