<div>
    <h2 [ngStyle]="{ 'margin-left': '20%' }">Nuevo Registro</h2>

    <form
      class="form-container"
      id="addContactForm"
      [ngStyle]="{ 'margin-left': '20%' }"
      (ngSubmit)="addRegistro(); newContactForm.resetForm()"
      #newContactForm="ngForm"
    >
      <!-- nombre input -->
      <mat-form-field class="wide-input">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          ngModel
          #nombre="ngModel"
          name="nombre"
          id="nombre"
          placeholder="Nombre"
          required
        />
        <mat-error *ngIf="!nombre.valid && nombre.touched">
          Nombre es requerido
        </mat-error>
      </mat-form-field>

      <!-- categoria input -->
      <mat-form-field class="wide-input">
        <mat-label>Categoria</mat-label>
        <mat-select 
            ngModel
            #category="ngModel"
            name="category"
            id="category"
            placeholder="Categoria"
            required>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.valor">
                {{categoria.nombre}}
              </mat-option>
        </mat-select>
        <mat-error *ngIf="!category.valid && category.touched">
          Categoria is required
        </mat-error>
      </mat-form-field>

      <!-- monto input -->
      <mat-form-field class="wide-input">
        <mat-label>Monto</mat-label>
        <input
          matInput
          ngModel
          #monto="ngModel"
          name="monto"
          id="monto"
          placeholder="Monto"
          required
          type="number"
        />
        <mat-error *ngIf="!monto.valid && monto.touched">
          Monto es requerido
        </mat-error>
      </mat-form-field>

      <!-- Submit button -->
      <button
        matInput
        mat-flat-button
        [disabled]="!newContactForm.form.valid"
        [ngStyle]="{
          'margin-top': '-18px',
          'margin-left': '10px',
          padding: '28px'
        }"
        color="accent"
        type="submit"
      >
        Agregar
      </button>
    </form>
  </div>

<!-- <div *ngFor="let registro of registros">{{ registro.nombre | titlecase }}, {{ registro.category | titlecase }}, {{ registro.monto }}</div> -->
<table [ngStyle]="{'width':'100%'}">
    <tr>
        <th>Registros</th>
        <th>Acciones</th>    
    </tr>
    <tr *ngFor="let registro of registros">
        <td [ngStyle]="{'text-align':'center'}">{{ registro.nombre | titlecase }}, {{ registro.category | titlecase }}, {{ registro.monto }}</td>
        <td [ngStyle]="{'text-align':'center'}">
            <button mat-flat-button color="accent" (click)="editRegistro(registro)"> Edit</button>
            &nbsp;
            <button mat-flat-button color="warn" (click)="removeRegistro(registro)">Delete</button>

        </td>
    </tr>
</table>